{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "webpack-chunkname"
  ]
}
