{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "webpack-chunkname"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node", "babel-plugin-transform-es2015-modules-commonjs"]
    }
  }
}
