source_up
source_local

export SNACK_PORT=3011
export SNACK_SENTRY_DSN="https://be7beb6fd7ad404ab065b256be7ba26c:191ae18b48734476ae38e01e580588c1@sentry.io/1186100"
export SENTRY_ENVIRONMENT=dev
export SNACK_SERVER_HOST=snack.expo.test
export SNACK_SERVER_PROTOCOL=http
export API_SERVER_URL=http://localhost:3000
export IMPORT_SERVER_URL=https://staging.snackager.expo.io
