export SNACK_PORT=3011
export SNACK_SEGMENT_KEY=""
export SNACK_SENTRY_DSN=""
export SENTRY_ENVIRONMENT=dev
export SNACK_SERVER_HOST=snack.expo.test
export SNACK_SERVER_PROTOCOL=https
export API_SERVER_URL=https://staging.expo.io
export IMPORT_SERVER_URL=https://staging.snackager.expo.io
